<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BrightIM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--<add key="EnableWindowsFormsHighDpiAutoResizing" value="true"/>-->
    <add key="DEFAULT_LANGUAGE" value="zh-CN" />
    <!--客户 Product 生产环境--> 
    <!--<add key="EOOP_SERVER_PATH" value="http://172.19.50.110" />-->
    <add key="EOOP_SERVER_PATH" value="http://oatest.nfgroup.com.cn:81" />
    <!--Web聊天登录-->
    <add key="EOOP_WEB_CHAT_AUTH" value="/eoop-webchat/auth" />
    <!--用户未读消息-->
    <add key="EOOP_WEB_CONTACT" value="/eop-im/im/getWebContactList" />
    <!--用户登录-->
    <add key="EOOP_LOGIN_VERIFY" value="/eoop-api/r/sys/rest/loginVerify" />
    <!--重置密码-->
    <!--<add key="EOOP_RESET_PASSWORD" value="/bdo-api/r/bdoOpt/user/updatePasswd" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
  </connectionStrings>
  <userSettings>
    <BrightIM.Properties.Settings>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
    </BrightIM.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>